<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Physical recordings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body style="background-color:#fff96a">
<div class="container">
	<div class="col-md-4">
	<h1>Edit recording</h1>
	</div>
	
	<hr style="color:#b0ffd3">
	
	<div class="col-md-4">
	<form th:object="${recording}" th:action="@{../save}" action="#" method="post">
	
	<input type="hidden" id="id" th:field="*{id}" />
	
	<div style="padding:2px">
	<label for="artist">Artist</label><br>
	<input type="text" id="artist" th:field="*{artist}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="title">Title</label><br>
	<input type="text" id="title" th:field="*{title}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="year">Year</label><br>
	<input type="text" id="year" th:field="*{year}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="label">Label</label><br>
	<input type="text" id="label" th:field="*{label}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="comment">Comment</label><br>
	<input type="text" id="comment" th:field="*{comment}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="price">Price</label><br>
	<input type="text" id="price" th:field="*{price}" style="margin-left:8px;background-color:#ffffec" />
	</div>
	
	<div style="padding:2px">
	<label for="format">Format</label><br>
	<select id="formats" th:field="*{format}" style="margin-left:8px;background-color:#ffffec">
			<option th:each="format: ${formats}"
			th:value="${format.id}"
			th:text="${format.format}" ></option>
	</select>	
	</div>
	
	<div style="padding:2px">
	<label for="condition">Condition</label><br>
	<select id="conditions" th:field="*{condition}" style="margin-left:8px;background-color:#ffffec">
			<option th:each="condition: ${conditions}"
			th:value="${condition.id}"
			th:text="${condition.condition}" ></option>
	</select>
	</div>
	
	<div style="padding:2px">
	<label for="genre">Genre</label><br>
		<select id="genres" th:field="*{genre}" style="margin-left:8px;background-color:#ffffec">
			<option th:each="genre: ${genres}"
			th:value="${genre.id}"
			th:text="${genre.genre}" ></option>
		</select>
		</div>
		
		<input type="submit" value="Save" class="btn btn-success" style="padding:5px;margin-top:8px;margin-left:10px;background-color:#b0ffd3;cursor:pointer"></input>
	
	<br><br>
		<a class="btn btn-success" href="/recordinglist" role="button" style="margin-left:10px">Cancel</a>	
		
	</form>
	</div>
	</div>
</body>
</html>