<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Physical recordings</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body style="background-color:#fff96a">
<div class="container">
	<div class="col-md-4">
		<h1>Recordings</h1>
	</div>
<div class="col-md-4">
	<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
</div>

<hr style="color:#b0ffd3">

<div class="table-responsive">
<table class="table table-hover table-bordered" style="margin-left:5px;border-color:#b0ffd3">
	<thead>
	<tr>
		<th scope="col" style="padding:2px">Artist</th>
		<th scope="col" style="padding:2px">Title</th>
		<th scope="col" style="padding:2px">Year</th>
		<th scope="col" style="padding:2px">Record label</th>
		<th scope="col" style="padding:2px">Comment</th>
		<th scope="col" style="padding:2px">Price</th>
		<th scope="col" style="padding:2px">Format</th>
		<th scope="col" style="padding:2px">Condition</th>
		<th scope="col" style="padding:2px">Genre</th>
		<th sec:authorize="hasAuthority('ADMIN')"></th>
	</tr>
	</thead>
	<tbody >
	<tr th:each = "recording : ${recordings}">
		<td th:text="${recording.artist}" style="padding:2px"></td>
		<td th:text="${recording.title}" style="padding:2px"></td>
		<td th:text="${recording.year}" style="padding:2px"></td>
		<td th:text="${recording.label}" style="padding:2px"></td>
		<td th:text="${recording.comment}" style="padding:2px"></td>
		<td th:text="${recording.price}" style="padding:2px"></td>
		<td th:text="${recording.format.format}" style="padding:2px"></td>
		<td th:text="${recording.condition.condition}" style="padding:2px"></td>
		<td th:text="${recording.genre.genre}" style="padding:2px"></td>
			
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/edit/{id}(id=${recording.id})}" role="button" style="padding:2px">Edit</a></td>
			
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/delete/{id}(id=${recording.id})}" role="button" style="padding:2px">Delete</a></td>
	</tr>
	</tbody>	
</table>
</div>
<br>
<a class="btn btn-success" href="/add" role="button" style="margin-left:10px">Add new recording</a>
</div>

<br>
<div class="col-md-4" style="padding:5px">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign out" class="btn btn-danger" style="padding:5px;margin-left:10px;margin-bottom:5px;background-color:#b0ffd3;cursor:pointer"/>
	</form>
</div>

</body>
</html>